<% title "About" %>

<h1 class="index-title"><%= yield :title %></h1>
<div class="about c3-4">
	<p>Elnaz Moshfeghian builds for the web. She crafts product and feature ideas, conducts design research, generates wireframes, commits full-stack code, writes copy, performs unit and usability testing, and rolls out web applications to users.</p>
	<p>Her work includes a <%= link_to "data visualization website", Working.find_by_slug("schoolcuts") %> to dissect the 2013 Chicago Public School closings, a <%= link_to "crowdfunding platform", Working.find_by_slug("benevolent") %> for individuals working with social service organizations to get their life on track, and a <%= link_to "collaboration app", Working.find_by_slug("arctic-collaborations") %> to accelerate the pace of Arctic research.</p>
	<p>Elnaz has lived in seven cities spanning five countries and three continents. Those experiences have prepared her well for the fast-paced, cross-functional, ambiguity-rich work of design, software engineering, and product management.</p>
	<!-- <p>In addition to getting a Bachelor's of Computer Science at <a href="http://iit.edu">Illinois Tech</a>, she was the President of the Student Government Association. Elnaz represented the interests of 7,000 undergraduate and graduate students and led the 50 elected and appointed officers serving them.</p> -->
	<p>Elnaz makes the most of her offline time with rock climbing, bike commuting, reading, making playlists, and traveling.</p>
</div>
