<% title "About" %>

<h1 class="index-title"><%= yield :title %></h1>
<div class="about c3-4">
	<p>I am a software engineer, designer, and community organizer&mdash;but I'm at my best when doing all three as a product manager. I've lived in Chicago since 2008. Before that: Oklahoma, Kuwait, Qatar, Australia, and Iran. I climb rocks, ride bikes, watch movies, talk civics, and follow the NBA.</p>
</div>
