<% title 'Edit writing' %>
<h1><%= yield :title %></h1>

<%= render 'form' %>

<span class="r"><%= link_to 'Delete', writing_path(@writing), method: :delete, data: { confirm: 'Are you sure?' } %></span>