<% title "Blog" %>

<h1><%= yield :title %></h1>
<ul class="posts">
	<li>
		<a href="/writing/show">
			<img src="http://dummyimage.com/200" />
			<p class="title">
				Lorem ipsum dolor sit amet, his argumentum <span class="date">Dec 31, 2014</span>
			</p>
		</a>
	</li>	
</ul>
<div class="clear"></div>