<% title "Blog title" %>

<h1 id="post-title"><%= yield :title %></h1>
			
<p class="post-date r">Dec 31, 2014</p>

<div class="post-body">
	<p>Lorem ipsum dolor sit amet, veri regione mel an, natum reprehendunt nec ut. Ut praesent voluptatum sed, ea voluptua senserit quo, vocibus vivendum philosophia an eos. Dicta invidunt in vel, tractatos appellantur an per. Est ut tollit primis facilisis, pro audiam nonumes cu. Recusabo patrioque tincidunt ne duo, mei alii laoreet verterem in.</p>
	
	<p>Eum cu noster intellegat. No timeam eleifend interesset sit. Labore facete deseruisse mei ea. Ne eum enim scribentur complectitur, tantas mollis his ad. Nostrum voluptatum referrentur id eos, id usu wisi possit.</p>
	
	<p>Id dolores inciderint eos. Eu veniam partem laoreet duo, simul iudico incorrupte cu est, oportere conceptam cum no. No cum dicat iusto, mel eu detraxit maiestatis. His petentium intellegam an, in sonet melius mei, et mea feugiat vivendo oportere. Doming electram et his, vel eu saepe partem legimus. Ei vel sumo sententiae, duis noluisse in sea. Mei an fugit apeirian volutpat, et mucius nostrum usu.</p>
	
	<p>Malorum praesent sea et. Cum te soluta persecuti scriptorem, eros etiam petentium cum id. Ea vim altera timeam moderatius, ei vim tale soluta. Eos ad fabellas adolescens, sea quot albucius cu, est consul pertinax ne. Admodum similique suscipiantur eam id, te tibique invidunt torquatos mei. Id nominavi accommodare eum, mei labore scripta definiebas id, vel saepe definitiones ad. Mea te iudico oratio reprimique.</p>
	
	<p>Eam ex nostrud invenire, sit alia quando epicuri cu. Has an posse oratio conclusionemque, sint tamquam gubergren nec no. Tibique luptatum atomorum eu has, pro stet expetenda at. Soluta recusabo salutandi quo ex, ea usu amet minimum mediocritatem.</p>
</div>

<h2>Discussion</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'elnazis'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
