<% title "Elnaz Moshfeghian" %>

<p id="intro">Full stack web engineer, designer, community organizer&mdash;at my best when doing all three as a product manager. Living in Chicago since 2008. Before that: Oklahoma, Kuwait, Qatar, Australia, and Iran. I climb rocks, ride bikes, watch movies, talk civics, and follow the NBA.</p>	
<div class="clear"></div>

<h2>Blog</h2>
<%= render 'writing/list' %>
<% if Writing.count > 4 %>
  <p class="more-items"><%= link_to raw('Read more <i class="fa fa-angle-right"></i>'), writing_index_path %></p>
<% end %>

<h2>Portfolio</h2>
<%= render 'working/list' %>
<% if Working.count > 6 %>
  <p class="more-items"><%= link_to raw('View more <i class="fa fa-angle-right"></i>'), working_index_path %></p>
<% end %>
