<ul class="projects">
	<% @workings.each do |working| %>
	<li>
		<a href="<%= working_path(working) %>">
		  <%= image_tag working.image.url %>
			<p class="title"><%= working.title %></p>
			<p class="subtitle"><%= working.subtitle %></p>
		</a>
	</li>	
	<% end %>
</ul>
<div class="clear"></div>