<ul class="projects">
	<% @workings.each do |working| %>
	<li>
		<a href="<%= working_path(working) %>">
		  <%= image_tag working.image.url(:medium) %>
			<p class="project"><%= working.title %> <span class="subtitle"><%= working.subtitle %></span></p>
		</a>
	</li>	
	<% end %>
</ul>
<div class="clear"></div>