@media screen and (max-width: 835px){
	/* -------------------- Basics/Forms -------------------- */
	.c2l, .c2r { float: none; width: auto; }
	
	.txt { width: 75%; }
	
	/* ----------------------- Main ------------------------- */
	.about { width: 90%; }
	
	#contact-links { margin-left: 20%; }
	#contact-links li { margin-top: 15px; }
		
	.posts li { width: 48%; max-width: 275px; }
	
	.projects li { width: 46%; }
}