@media screen and (max-width: 945px){
	#menu {
	    background: #76B543;
	    height: 100%;
	    overflow: scroll;
	    position: absolute;
		right: -300px;
	    top: 0;
	    width: 200px;
	    z-index: 1000;
	}
	#menu ul { list-style: none; }
	#menu .nav-content { margin: 0; padding: 0; }
	#menu .nav-content li.current { background: rgba(255, 255, 255, 0.3); }
	#menu .nav-content li { 
		border-bottom: 1px solid black; 
		display: block; 
		float: none; 
		margin: 0; 
		padding: 12px 15px; 
	}
	
	#menu-toggle { display: inline-block; }
	
	#nav { display: none; }
}
