@media screen and (max-width: 945px){	
	#footer {	padding-bottom: 350px; }
	
	#menu {
	    background: #76B543;
	    margin-right: 4%;
	    position: absolute;
  		right: -200px;
	    top: 0;
	    width: 175px;
	    z-index: 1000;
	}
	#menu ul { list-style: none; }
	#menu .nav-content { margin: 0; padding: 0; }
	#menu .nav-content li.current { background: rgba(255, 255, 255, 0.3); }
	#menu .nav-content li { display: block; float: none; margin: 0; padding: 12px 15px; }
	#menu .nav-content li i { margin-right: 0.5em; }
	
	#menu-toggle { 
  	color: #000; 
  	display: inline-block;
  	float: right; 
  	font-size: 1.1em;
  	font-weight: bold;
  	margin-top: 15px; 
  	padding: .1em .2em;
  	text-transform: uppercase; 
  }
  #menu-toggle:hover { padding: .1em .2em; }
	
	#nav { display: none; }
}
